# Node modules (ya se instalan dentro del contenedor)
node_modules

# Archivos de entorno sensibles
.env
.env.*

# Salidas de compilación (Next.js las regenera)
.next
out
build
dist

# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuraciones de IDE y sistema
.vscode
.idea
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Dockerfile local alternos o overrides
docker-compose.override.yml
Dockerfile.local
